@xhead-h: 1.2rem;
@bar-h: 1.93rem;
@cashingCode-h: .7rem;

.XHead {
    z-index: 2;
}

.hongbao {
    padding-top: 1.2rem;
}

.help {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    background: url(../../pay/hemai/help.png) no-repeat center center / .5rem;
}

.content {
    @content-h: calc(~"99vh - @{xhead-h} - @{bar-h} - @{cashingCode-h}");
    @p: .3rem;
    min-height: @content-h;
    padding: @p;
    //兑奖码
    .cashingCode {
        height: @cashingCode-h;
        line-height: @cashingCode-h;
        margin-bottom: @cashingCode-h;
        font-size: .32rem;
        .input {
            width: 80%;
        }
        .btn {
            height: inherit;
            width: 13%;
            border-radius: .1rem;
            color: white;
            text-align: center;
        }
    }

    //列表公共样式
    .list {
        .item {
            @h: 2.5rem;
            height: @h;
            margin-bottom: @p;
            overflow: hidden;
            &:last-child {
                border: 0;
            }
            .l {
                width: 2rem;
                height: inherit;
                padding-top: .9rem;
                font-size: .6rem;
                color: white;
                text-align: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center center;
            }
            .em {
                font-size: .5em;
            }

            .r {
                width: 7rem;
                line-height: @h /4;
            }
            .balance {
                font-size: .42rem;
            }
            .s32 {
                font-size: .32rem;
            }
            .c3 {
                color: #333;
            }
            .ca {
                color: #a9a9a9;
            }

            .btn {
                @btn-h: .66rem;
                @w: 2.13rem;
                width: @h;
                height: @btn-h;
                line-height: @btn-h;
                margin-top: (@h - @btn-h) / 2;
                text-align: center;
                border: 1px solid #efefef;
            }
        }

    }

    //可用红包
    .available {
        .l {
            background-image: url(./available.png);
        }
    }

    .disabled {
        .l {
            background-image: url(./disabled.png);
        }
        .r {
            color: #A2A2A2;
        }
    }

    .noData {
        width: 100%;
        height: @content-h;
        background: url(../../../assets/img/noData.png) no-repeat center center / 5rem;
    }
}

.popup {
    @pt-h: 1.6rem;
    @ft-h: 1.2rem;
    padding-top: 3rem;
    .popup_content {
        height: 10.4rem;
        margin: 0 .8rem;
        padding-bottom: @ft-h;
        background: #F7F7F7;
        border-radius: .2rem;
        position: relative;
        overflow: hidden;
    }
    .pt {
        height: @pt-h;
        line-height: (@pt-h - .4) / 2;
        padding: .2rem 0;
        border-bottom: 1px solid #E1E1E1;
        text-align: center;
    }
    .pl {
        @item-h: 1.33rem;
        .item {
            height: @item-h;
            line-height: @item-h;
            overflow: hidden;
        }
        .logo {
            width: .8rem;
            height: .8rem;
            margin: (@item-h - .8) / 2;
        }
        .c_name {
            height: 100%;
            font-size: .38rem;
            width: 7rem;
            border-bottom: 1px solid #E1E1E1;
            background: url(../../../assets/img/arrow.png) no-repeat 6.5rem center / .2rem;
        }
    }

    .pf {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: @ft-h;
        line-height: @ft-h;
        text-align: center;
        color: #666;
        font-size: .4rem;
        border-top: 1px solid #e1e1e1;
        background: #efefef;
    }
    .c9 {
        color: #999;
        font-size: .24rem;
    }

}
