.download {
    min-height: 100vh;
    text-align: center;
    background: #FF5949 url(./bg.png) no-repeat left bottom / 10rem auto;
    position: relative;
    .btn {
        @h: 1.5rem;
        position: absolute;
        left: 2rem;
        right: 2rem;
        height: @h;
        line-height: @h;
        width: 6rem;
        border: 1px solid white;
        border-radius: @h / 2;
        font-size: .42rem;
        color: white;

    }
    .an {
        bottom: 11rem;

    }
    .ios {
        bottom: 9rem;

    }
    .img {
        width: .5rem;
        margin-right: .2rem;
        vertical-align: middle;
        margin-top: -3px;
    }
}
