@import "../../../../assets/css/theme";

@random-h: 1rem;
@xhear-h: 1.2rem;
@xfoot-h: 1.2rem;
@number-h: 3rem;
@yingli-h: 1rem;
@p: .4rem;

.fucai3d_index {
    padding: @xhear-h 0 @xfoot-h + @yingli-h;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none
    }
    .Actionsheet {
        z-index: 20;
    }
}
.XHead{
    z-index: 2
}

.history {
    @his_foot-h: .8rem;
    @his_body_lh: .93rem;
    .tr {
        height: @his_body_lh;
        line-height: @his_body_lh;
        text-align: center;
        .td {
            float: left;
            width: 100% / 3;
        }
    }

    .his_foot {
        @btn-arrow: .4rem;
        height: @his_foot-h;
        line-height: @his_foot-h;
        padding: 0 @p;
        font-size: .3rem;
        color: #333;
        border-bottom: 1px solid #efefef;
        .his_arrow {
            width: @btn-arrow;
            height: @his_foot-h;
            background: url(../../img/his_arrow.png) no-repeat right center / @btn-arrow - .1;

            transform: rotate(0deg);
            transition: transform .25s;
        }
        .rotate {
            transform: rotate(180deg);
        }
    }

}

.random {
    height: @random-h;
    line-height: @random-h;
    padding: 0 @p;
    .fr {
        font-size: .3rem;
        color: #666666;
    }

}

.number {
    @boll-w: 1rem;
    @boll-r-m: .48rem;
    @l-h: .506rem;
    padding-right: .36rem;
    padding-left: .4rem;
    padding-bottom: .5rem;
    text-align: center;
    overflow: hidden;
    .l {
        height: @l-h;
        line-height: @l-h;
        margin-top: (@number-h - 2 * @boll-w) / 4 + (@boll-w - @l-h ) / 2;
        .span {
            padding: 0 .2rem;
            border-radius: .1rem 0 0 .1rem;
            color: white;
            font-size: .3rem;
        }
        .arrow {
            border: @l-h / 2 solid transparent;
            border-left-color: @theme;
        }
    }
    .r {
        width: 5 * @boll-w + 5 * @boll-r-m;
    }
    .boll {
        width: @boll-w;
        height: @boll-w;
        line-height: @boll-w;
        margin-right: @boll-r-m - .03;
        margin-top: (@number-h - 2 * @boll-w) / 4;
        border-radius: 50%;
        border: 1px solid #ccc;
        position: relative;
        overflow: hidden;
        .checkbox {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            &:checked + div {
                height: inherit;
                width: inherit;
                background: @theme;
                color: white;
            }
        }
    }

    .miss {
        display: none;
        padding-right: @boll-r-m;
        color: #999;
        font-size: .3rem;
    }
}

.showMiss {
    .miss {
        display: block;
    }
}

.yingli {
    position: absolute;
    bottom: @xfoot-h;
    left: 0;
    right: 0;
    color: #999;
    height: @yingli-h;
    line-height: @yingli-h;
    padding: 0 @p;
}
