@import "../../../../assets/css/theme";

@Xhead-h: 1.2rem;

.jczq_order {
    @head_h: 1.5rem;
    @foot_h: 2.35rem;
    @p: .3rem;
    height: 100vh;
    padding: @head_h + @Xhead-h 0 @foot_h;
    text-align: center;
    background: #efefef;
    position: relative;
    .header {
        position: absolute;
        top: @Xhead-h;
        left: 0;
        right: 0;
        height: @head_h;
        line-height: @head_h - 2 * @p;
        padding: @p;
        .head_btn {
            width: 49%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: .2rem;
            background: white;
            color: #333;
        }
        .add {
            margin-right: 2%;
        }
    }
    .order_list {
        @item_h: 2rem;
        @item_p: .2rem;
        max-height: calc(~"98vh - @{head_h} - @{foot_h} - @{Xhead-h}");
        margin: 0 @p;
        border-radius: .2rem;
        background: white;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none
        }
        .first {
            height: .2rem;
        }
        .item {
            height: @item_h;
            padding: @item_p;
            background: white;
            border-top: 1px dashed #ccc;
            .left {
                width: .8rem;
                height: 100%;
                margin-right: @item_p;
                background: url(../../../../assets/img/del.png) no-repeat center center / .5rem .5rem;
            }
            .right {
                width: 7.5rem;
            }

        }
        //胜平负&让球胜平负
        .type1 {
            .right {
                height: 100%;
                line-height: (@item_h - 4 * @item_p) / 2;
                border: 1px solid #ccc;
                position: relative;
                .checkbox {
                    position: absolute;
                    top: 0;
                    width: 100% / 3;
                    height: 100%;
                    opacity: 0;
                    &:checked + .fl {
                        background: @theme;
                        color: white;
                        .text {
                            color: inherit;
                        }
                    }
                }
                .checkbox1 {
                    left: 0;
                }
                .checkbox2 {
                    left: 100% / 3;
                }
                .checkbox3 {
                    left: 100% / 3 * 2;
                }
                .fl {
                    width: 100% / 3;
                    height: 100%;
                    padding: @item_p;
                }
                .bor_r {
                    border-right: 1px solid #ccc;
                }
                .text {
                    color: #666;
                    font-size: .3rem;
                }
            }
        }
        //比分
        .type2 {
            @top_h: .6rem;
            @bottom_h: .8rem;
            .right_top {
                height: @top_h;
                line-height: @top_h;
                span {
                    width: 100% / 3;
                    height: 100%;
                }
            }
            .right_bottom {
                margin-top: .2rem;
                height: @bottom_h;
                line-height: @bottom_h;
                border: 1px solid #ccc;
            }
        }
    }
    ._popup {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 10rem;
        padding-top: 50vh;
        background: rgba(0, 0, 0, .5);
        z-index: 200;
        .popup_content {
            @h: 14.9rem;
            height: @h;
            margin: -@h / 2 .3rem;
            background: #EAEAEA;
            border-radius: .2rem;
            text-align: center;
        }
        .pop_title {
            @p_t-h: 1rem;
            height: @p_t-h;
            line-height: @p_t-h;
            border-bottom: 1px solid #ccc;
        }
        .popup_body {
            @one-h: 1.333rem;
            @two-h: 5.333rem;
            @three-h: 2.15rem;
            @four-h: 2.15rem;
            @p: .3rem;
            padding: @p;
            color: #000;
            font-size: .3rem;

            .option_box {
                margin-bottom: @p;
            }
            .notOpen {
                color: #999;
                width: 96%;
                height: 100%;
            }
            .one {
                height: @one-h;
                line-height: @one-h / 2;
                border-radius: .1rem;
                overflow: hidden;
                .btn {
                    width: 32%;
                    height: @one-h / 2;

                }
                .notOpen {
                    height: @one-h / 2;
                }
            }
            .two {
                @btn-w: 96% / 7;
                height: @two-h;

                border-radius: .1rem;
                overflow: hidden;
                .btn {
                    width: @btn-w;
                    height: @two-h / 5;
                    line-height: @two-h / 10;
                    &:nth-child(14), &:nth-child(32) {
                        width: @btn-w * 2;
                    }
                    &:nth-child(19) {
                        width: @btn-w * 3;
                    }
                }
                .first {
                    padding-top: calc(~"@{two-h} / 2 - 2em");
                }
                .notOpen {
                    line-height: @two-h;
                }
            }
            .three {
                height: @three-h;

                border-radius: .1rem;
                overflow: hidden;
                .btn {
                    height: @three-h / 2;
                    line-height: @three-h / 4;
                    width: 96% / 4;
                }
                .first {
                    padding: .2rem 0;
                    line-height: (@three-h - 2 * .2) / 3;
                }
                .notOpen {
                    line-height: @three-h;
                }
            }

            .first {
                height: inherit;
                width: 4%;
                font-weight: 200;
                font-size: .3rem;
            }
            .first_one {
                height: @one-h / 2;
            }
            .btn {
                position: relative;
            }
            .checked {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                &:checked + div {
                    background: @theme;
                    color: white;
                    height: inherit;
                    .c3 {
                        color: inherit;
                    }
                }
            }
        }
        .popup_foot {
            @p_f-h: 1.2rem;
            height: @p_f-h;
            padding: 0 1.2rem;
            .btn {
                @h: .7rem;
                height: @h;
                line-height: @h;
                width: 3.2rem;
                border-radius: .1rem;
            }
        }
    }
    .foot {
        @foot_top: 1.05rem;
        @foot_bottom: @foot_h - @foot_top;
        @foot_middle: 2.2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 10rem;
        margin: 0 auto;
        background: white;
        border-top: 1px solid #ccc;
        z-index: 99;
        .foot_top {
            height: @foot_top;
            line-height: @foot_top;
            .foot_top_btn {
                height: 100%;
                width: 3.5rem;
                .arrow {
                    @h: .25rem;
                    height: @h;
                    margin-top: (@foot_top - @h) / 2;
                    transform: rotate(180deg);
                    transition: transform .25s;
                }
            }
            .bei {
                @bei_p: .2rem;
                height: 100%;
                padding: @bei_p @p;
                line-height: @foot_top - 2 * @bei_p;
                .input {
                    width: 2rem;
                    border: 1px solid #ccc;
                    border-radius: .1rem;
                    text-align: inherit;
                }
            }
        }
        .foot_middle {
            @h: @foot_middle;
            height: 0;
            transition: height .25s;
            background: #EFEFEF;
            font-size: .32rem;
            overflow: hidden;
            .item {
                @w: 2.1rem;
                @h: .7rem;
                width: @w;
                height: @h;
                margin: .2rem;
                overflow: hidden;
                position: relative;
                .radio {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    &:checked + .text {
                        background: @theme;
                        color: white;
                    }
                }
                .text {
                    height: @h;
                    line-height: @h;
                    width: @w;
                    background: white;
                    border: 1px solid #ccc;
                    border-radius: .1rem;
                }
            }
        }
        .h22 {
            height: @foot_middle;
        }
        .foot_bottom {
            @fb_p: .2rem;
            height: @foot_bottom;
            line-height: (@foot_bottom - 2 * @fb_p) / 2;
            padding: @fb_p 0;
            font-size: .38rem;
            border-top: 1px solid #efefef;
            .c666 {
                font-size: .3rem;
            }
            .submit {
                @h: @foot_bottom - 2 * @fb_p;
                position: absolute;
                bottom: @fb_p;
                right: @p;
                width: @h * 2;
                height: @h;
                line-height: @h;
                color: white;
                border-radius: .1rem;
            }
        }
    }
    .footMiddle_fog {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(~"100vh - @{foot_h}");
        background: rgba(0, 0, 0, .5);
    }
    .popup {
        @h55: 5.5rem;
        @h100: 9.5rem;
        @ch: 2.4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 50vh;
        background: rgba(0, 0, 0, .5);
        z-index: 120;
        .h55 {
            height: @h55;
            margin-top: -@h55 / 2;
        }
        .h100 {
            height: @h100;
            margin-top: -@h100 / 2;
        }
        .popup_box {
            margin-right: .2rem;
            margin-left: .2rem;
            border-radius: .1rem;
            background: #EAEAEA;
            .popup_title {
                @pt: 1.2rem;
                height: @pt;
                line-height: @pt;
                border-bottom: 1px solid #ccc;
                font-size: .38rem;
            }
            .popup_content {
                margin: .2rem;
                .left {
                    width: 5%;
                    height: 100%;
                    color: white;
                }
                .right {
                    width: 95%;
                    height: 100%;
                    .btn {
                        width: 100% / 7;
                        height: @ch / 2;
                        line-height: @ch / 4;
                        position: relative;
                        .checkbox {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            &:checked + div {
                                height: @ch / 2;
                                background: @theme;
                                color: white;
                                .c666 {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
            //半全场 & 总进球
            .FT004, .FT003 {
                height: @ch;
                .left {
                    @p: .2rem;
                    height: 100%;
                    padding: @p 0;
                    line-height: (@ch - 2 * @p) / 3;
                    background: #9A43FA;
                }

            }
            //  比分
            .FT002 {
                .whiteBg {
                    height: @ch;
                    margin-bottom: .2rem;
                    .left {
                        line-height: @ch;
                    }
                }
                .ping {
                    height: @ch / 2;
                    .left {
                        line-height: @ch/2;

                    }
                    .right {
                        .btn:last-child {
                            width: 100% / 7 * 3;
                        }
                    }
                }
                .right {
                    .btn:last-child {
                        width: 100% / 7 * 2;
                    }
                }
            }
            .popup_btns {
                @pb: 1.5rem;
                height: @pb;
                padding-top: .2rem;
                .popup_btn {
                    width: 3.2rem;
                    height: 0.8rem;
                    line-height: 0.8rem;
                    margin: 0 0.8rem;
                    font-size: .35rem;
                    border-radius: .05rem;
                }
            }
        }
    }
    .c666 {
        color: #666;
    }
    .whiteText {
        color: white;
    }
    .whiteBg {
        background: white;
    }
    .blueBg {
        background: #1A83C7;
    }
    .greenBg {
        background: #1AA664;
    }
    .c9 {
        background: #999;
    }
    .purpleBg {
        background: #9A43FA;
    }
    .yellowBg {
        background: #FB9A32;
    }
}
